<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="\images\images.jpg">

    <link rel="stylesheet" href="/csss/sign.css">
    <title>SignUp</title>
</head>

<body>
    <a href="/" id="back">Back></a>
    <h1>Sign up in India-<span>News</span> </h1>



    <form action="/login" method="post">

        
        <div class="add">

            <br> 
            <input type="text" id="de" placeholder="Enter your email" name="gmail" required>
        </div><br>
        <div class="add">
            <input type="password" id="de" placeholder="Enter your password" name="password" required>
        </div>
        <br> <br>
        <div class="btn">

            <button type="submit">Login</button>
        </div>

    </form>
    <br>
    <a href="signup">Sign up</a>
    </div>



    </div>


</body>

</html>